.nav {
  height: 100%;
  align-content: center;
}

.nav-list {
  display: flex;
  column-gap: 1vw;
}

.nav-item {
  display: flex;
}

.nav-link {
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.nav-link-home {
  background-image: url("/assets/svg/home.svg");
}

.nav-link-char {
  background-image: url("/assets/svg/character.svg");
}

.nav-link-set {
  background-image: url("/assets/svg/settings.svg");
}